<!-- Components/SharedUI/CardPanel.razor -->
<div class="card-panel">
    @if (!string.IsNullOrEmpty(Title))
    {
        <div class="card-header">
            <h3>@Title</h3>
            @if (!string.IsNullOrEmpty(SubTitle))
            {
                <small>@SubTitle</small>
            }
        </div>
    }
    <div class="card-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string SubTitle { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
